@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

h1, h2, p, li{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

section{
  height: 100vh;
  display: flex;
  align-items: center;
}

.title{
  margin-bottom: 10px;
  border-bottom: solid 1px #cccccc;
}

.quiz_number_text{
  margin-bottom: 50px;
}

.question_text{
  margin-bottom: 50px;
}

.answer_list{
  display: flex;
  gap: 10px;
}

.answer_list_item{
  padding: 10px;
  background-color: aqua;
  cursor: pointer;
}

